html {
    background: url(../../image/background1.jfif) no-repeat;
    background-position: 50% 40%;
    background-size: cover;
}

.block {
    min-width: 970px;
    background: rgba(57, 66, 100, 0.7);
    border-radius: 5px;
    margin: 1em auto;
    width: 70%;

    color:white;
}

.block h1 {
    text-align: center;
}

.main{
    padding-top: 13px;
    padding-bottom: 50px;
}

.selectComponent {
    min-width: 800px;
    width: 80%;
    margin: 0 auto;
}

.selectComponent .gradeSelectSpan {
    float: left;
    padding-bottom: 30px;
    width: 25%;
    margin-left: 4%;
    margin-right: 4%;
}

.selectComponent select {
    width: 100%;
}

.redGrade{
    float: left;
    margin-left: 5%;
}

.blackGrade{
    float: right;
    margin-right: 5%;
}

.gradeSelect{
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gradePriceDiv {
    display: flow-root;
    text-align:center;
    margin-bottom: 30px;
    border: 1px solid white;
    min-width: 800px;
    width: 100%;
}